* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Nunito Sans', sans-serif;
   color: #232323;
}

.container {
   width: 70%;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

h1 {
   font-size: 2.3rem;
}

h2 {
   font-size: 1.8rem;
}

h4 {
   font-weight: 800;
   font-size: 1.15rem;
}

nav {
   display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	padding: 45px 0;
}

nav .heading i {
   color: #435fac;
   margin-right: 0.75rem;
}

nav .heading {
   display: flex;
   align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
   margin-right: 1.15rem;
   font-size: 1.5rem;
}

nav ul li a {
   font-size: 0.85rem;
   font-weight: bold;
   transition: font-size 150ms;
}

nav ul li a:hover {
   color: #435fac;
   font-size: 1rem;
   transition: font-size 250ms;
}

nav ul li p {
   color: #dadada;
   font-weight: 100;
}

nav ul li:last-of-type a {
   color: #435fac;
}

.hero {
   display: flex;
   margin-top: 4rem;
}

.hero .text {
   flex: 0.45;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hero .text h1:last-of-type {
   margin-bottom: 2.5rem;
}

.hero .text p {
   margin-bottom: 2.5rem;
}

.hero .text button {
   display: inline-block;
   padding: 0.65rem 1.25rem;
   color: #fff;
   background: #435fac;
   border: none;
   width: fit-content;
   font-size: 0.85rem;
   box-shadow: 0.6rem 0.6rem 0 0 #cfdde6;
   margin-right: 2rem;
   transition: transform 400ms;
   transition: font-size 250ms;
}

.hero .text button:hover {
   box-shadow: 0.8rem 0.8rem 0 0 #cfdde6;
   transition: box-shadow 500ms;
   font-size: 1rem;
   transition: font-size 250ms;
}

.hero .text a {
  font-size: 0.85rem;
  font-weight: bold;
  transition: font-size 150ms;
}

.hero .text .action-buttons a i {
   margin-right: 0.5rem;
   color: #435fac;
}

.hero .text a:hover {
   color: #435fac;
   font-size: 1rem;
   transition: font-size 250ms;
}

.hero .text .icons {
   margin-top: auto;
}

.hero .text .icons i {
   margin-right: 1.25rem;
}

.hero .text .icons i:hover {
   color: #435fac;
}

.hero .image {
   flex: 0.55;
   margin-left: 1rem;
}

.hero .image img {
   width: 100%;
}

.features {
   margin: 10rem 0;
   margin-bottom: 7rem;
}

.features .heading {
   margin-bottom: 3rem;
   text-align: center;
}

.features .heading h2 {
   margin-bottom: 2rem;
}

.features .heading hr {
   width: 45px;
   margin: 0 auto;
   background: #232323;
   height: 3px;
}

.features .content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.features .content .card {
   width: 75%;
   margin: 0 auto;
}

.features .content .card h3 {
   margin-bottom: 1rem;
}

.features .content .card h3 i {
   margin-right: 1.25rem;
}

.features .content .card p {
   font-size: 0.85rem;
}

.testimonial {
   display: flex;
   margin: 4rem 0;
   padding-top: 5rem;
}

.testimonial .image {
   flex: 0.55;
   display: flex;
   flex-direction: column;
}

.testimonial .image img {
   width: 100%;
}

.testimonial .image button {
   display: inline-block;
   padding: 0.65rem 1.25rem;
   color: #fff;
   background: #435fac;
   border: none;
   width: fit-content;
   font-size: 0.85rem;
   box-shadow: 0.6rem 0.6rem 0 0 #cfdde6;
   margin: 0 auto;
   transition: box-shadow 500ms;
   transition: font-size 250ms;
}

.testimonial .image button:hover {
   box-shadow: 0.8rem 0.8rem 0 0 #cfdde6;
   transition: box-shadow 500ms;
   font-size: 1rem;
   transition: font-size 250ms;
}

.testimonial .text {
   flex: 0.45;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 5rem;
}

.testimonial .text h2 {
   margin-bottom: 2.5rem;
}

.testimonial .text h2 i {
   margin-right: 1.25rem;
}

.testimonial .text p {
   font-size: 0.85rem;
}

.testimonial .text > p:last-of-type {
   border-left: 1.15px solid #dadada;
   font-style: italic;
   margin: 2.5rem 0;
   padding-left: 2rem;
}

.testimonial .text .small-card {
   display: flex;
   align-items: center;
   font-size: 0.85rem;
}

.testimonial .text .small-card img {
   margin-right: 1.5rem;
}